<div>
    <div class="boxTitle">
        <h1>{{title}}</h1>
    </div>  
    <div class="bodyPage">
        {{#each dataCarts}}
            <div class="boxInfo">
               <h1>hola</h1>
                <button class="btnChat" id="plusBtn"  data-id="{{this._id}}">Ver carrito</button>
            </div>
    {{/each}}
    </div>  
    </div>
</div>